@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using luchito_net.Models
@using luchito_net.Models.Dto.Response
@using luchito_net.View.Pages
@model ProductModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Productos";
    // TODO: Revisar Viewmodel
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="bg-light p-3 rounded mb-3">
                <h3>Selecciona la categoria</h3>
                <button id="addCategoryBtn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createCategoryModal">Agregar Categoria</button>
                <ul id="categoriesList" class="list-group">

                    @if (Model._categories != null)
                    { 
                        foreach (var category in Model._categories.Data)
                        {
                           <li class="@(category.IsFather ? "list-group-item category-item btn btn-primary" : "")" data-id="@category.Id" data-name="@category.Name" data-parent="@category.ParentCategoryID" data-active="@category.IsActive">
                            <a asp-route-categoryId="@category.Id" asp-route-categoryPage="@(Model._categories?.Page)">
                               @category.Name
                            </a>
                            <a class="float-end text-success create-subcategory-btn" data-bs-toggle="modal" data-bs-target="#createSubcategoryModal" data-parent-id="@category.Id" title="Crear subcategoria">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg>
                          </a>
                          <div class="modal fade" id="createSubcategoryModal" tabindex="-1" aria-labelledby="createSubcategoryModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createSubcategoryModalLabel">Crear Subcategoria</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="createCategoryForm" data-page="@Model._categories?.Page">
                                            <div class="mb-3">
                                                <label for="modalSubcategoryName" class="form-label">Nombre de la subcategoria</label>
                                                <input type="text" class="form-control" id="modalSubcategoryName" name="name" value="" required>
                                            </div>
                                                <input type="text"  class="form-control" hidden id="modalParentCategoryId" name="parentCategoryId" value="@category.Id">
                                            <input type="text" class="form-control" hidden id="modalIsActive" name="isActive" value="true">
                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Crear Subcategoria</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                            </li>
                        }
                    }
                </ul>
                
                <nav aria-label="Categories pagination">
                    @{
                        string previousDisabled = Model._categories != null && !Model._categories.HasPrevious ? "disabled" : "";
                        string nextDisabled = Model._categories != null && !Model._categories.HasNext ? "disabled" : "";
                    }
                    <ul class="pagination justify-content-center mt-3" id="categoriesPagination">
                    <li class="page-item"><a class="page-link @previousDisabled" data-page="@(Model._categories?.Page - 1)" id="previousPageBtn" asp-route-categoryPage="@(Model._categories?.Page - 1)">Anterior</a></li>
                        <li class="page-item active"><span class="page-link">@Model._categories?.Page</span></li>                       
                    <li class="page-item"><a class="page-link @nextDisabled" data-page="@(Model._categories?.Page + 1)" id="nextCategoryPageBtn" asp-route-categoryPage="@(Model._categories?.Page + 1)">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-9 col-sm-12">
            <div class="bg-light p-3 rounded mb-3">
                <h3>Productos</h3>
                <ul id="productsList" class="list-group">
                    @if (Model._products != null)
                    {
                        foreach (var product in Model._products.Data)
                        {
                            <li class="list-group-item">
                                @product.Name
                            </li>
                        }
                    }
                    @if (Model._products == null && Model._allProducts != null) { // TODO: Refactor this to avoid duplication
                        foreach (var product in Model._allProducts.Data)
                        {
                            <li class="list-group-item">
                                @product.Name
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">Crear Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCategoryForm" data-page="@Model._categories?.Page">
                    <div class="mb-3">
                        <label for="modalName" class="form-label">Nombre de la categoria</label>
                        <input type="text" class="form-control" id="modalName" name="name" value="" required>
                    </div>
                        <input type="text"  class="form-control" hidden id="modalParentCategoryId" name="parentCategoryId">
                    <input type="text" class="form-control" hidden id="modalIsActive" name="isActive" value="true">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Crear Categoria</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createErrorModal" tabindex="-1" aria-labelledby="createErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="createErrorModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="createErrorMessage" class="alert alert-danger" role="alert">
                </div>
            </div>
        </div>
    </div>
</div>


<h2>Creacion de Producto</h2>
<form method="post"  id="createProductForm" >
    <input type="text" id="name" required name="name" placeholder="Nombre del producto">
    <input type="text" id="categoryId" required name="categoryId" placeholder="ID de la categoria">
    <button type="submit">Crear Producto</button>
</form>

<h2>Creacion de orden</h2>
<form method="post" asp-page-handler="CreateOrder">
    <input type="text" id="productId" required name="productId" placeholder="ID del producto">
    <input type="text" id="quantity" required name="quantity" placeholder="Cantidad">
    <input type="text" hidden name="stateId" value="1"/>
    <input type="checkbox" name="boxed" id="boxed"/>
    <label for="boxed">Empaquetado</label>
    <button type="submit">Crear Orden</button>
</form>

<h2>Edicion de categoria</h2>
<form id="editCategoryForm" >
    <input type="text" id="categoryId" required name="id" placeholder="ID de la categoria">
    <input type="text" id="name" required name="name" placeholder="Nuevo nombre de la categoria">
    <input type="text" id="parentCategoryId" name="parentCategoryId" placeholder="ID de la categoria padre">
    <input type="text" id="isActive" name="isActive" placeholder="Activo (true/false)">
    <button type="submit">Editar Categoria</button>
</form>

<h2>Edicion de producto</h2>
<form method="post" id="editProductForm" >
    <input type="text" id="productId" required name="id" placeholder="ID del producto">
    <input type="text" id="name" required name="name" placeholder="Nuevo nombre del producto">
    <input type="text" id="categoryId" required name="categoryId" placeholder="ID de la categoria">
    <button type="submit">Editar Producto</button>
</form> 


<h2>Edicion de orden</h2>
<form method="post" id="editOrderForm" >
    <input type="text" id="orderId" required name="id" placeholder="ID de la orden">
    <input type="text" id="productId" required name="productId" placeholder="ID del producto">
    <input type="text" id="quantity" required name="quantity" placeholder="Cantidad">
    <input type="text" hidden name="stateId" value="1"/>
    <input type="checkbox" name="boxed" id="boxed"/>
    <label for="boxed">Empaquetado</label>
    <button type="submit">Editar Orden</button>
</form>

<H2>eliminar producto</H2>
<form method="post" id="deleteProductForm" >
    <input type="text" id="productId" required name="id" placeholder="ID del producto">
    <button type="submit">Eliminar Producto</button>
</form>

<h2>eliminar categoria</h2>
<form id="deleteCategoryForm" >
    <input type="text" id="categoryId" required name="id" placeholder="ID de la categoria">
    <button type="submit">Eliminar Categoria</button>
</form>

<h2>Eliminar orden</h2>
<form method="post" id="deleteOrderForm" >
    <input type="text" id="orderId" required name="id" placeholder="ID de la orden">
    <button type="submit">Eliminar Orden</button>
</form>




<script src="~/js/pages/products/forms/productsForm.js" asp-append-version="true" type="module"></script>
<script src="~/js/pages/products/forms/categoriesForm.js" asp-append-version="true" type="module"></script>
<script src="~/js/pages/products/forms/ordersForm.js" asp-append-version="true" type="module"></script>